/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- Default Styles to apply to the whole project  --------- */

/* @layer base {

    body {
        @apply border-8 sm:border-blue md:border-purple lg:border-teal;
    }

    h1, h2, h3, h4  {
        @apply font-serif mb-[0.5em];
    }

    h1 {
        @apply text-3xl leading-tight;
    }
    h2 {
        @apply text-2xl leading-tight;
    }
    h3 {
        @apply text-xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply mb-[0.5em] leading-normal;
    }

  } */

/* ----------- ADDITIONAL COMPONENTS  --------- */

/* @layer components {

    .tag {
        @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
    }

    .button  {
        @apply inline-block px-4 py-2 uppercase tracking-wide bg-zinc-800 text-white ;
    }
    
} */

/* h2,
h3,
a {
    text-transform: uppercase;
}

h1 {  
    font-family: 'Titan One', cursive;
    font-size: 78px;
    letter-spacing: -3.5;
}

body h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .45em;
    font-weight: 800;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 4.5;
    line-height: 1.35;
    font-weight: 400;
}

body h3 {
    font-weight: 800;
    margin-bottom: 12%;
}

body input,
body textarea {
    display: block;
    margin-bottom: 1rem ;
    margin-top: 0.5rem ;
    padding: 0.5rem;
    outline: none;
    width: 100%;
    text-transform: uppercase;
    outline: none;
}

label {
    font-weight: bold;
    padding: 3%;
}


footer h3 {
    font-weight: 800;
    margin-bottom: 3%;
}
 */

/* === MONTSERRAT (judul & heading) === */
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/* === DM SANS (isi teks & navigasi) === */
.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-black {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
