<!-- _includes/amenities-section.html -->
<!---------------- HOTEL AMENITIES SECTION ---------------->
<section class="sm:grid sm:grid-cols-2 gap-8 bg-brand-pink overflow-hidden">
  <div class="mb-14 opacity-0 -translate-x-10" id="rainbow-image">
    <div class="overflow-hidden rounded-r-full sm:w-[120%] sm:max-w-[120%]">
      <img
        src="{{ include.section.image }}"
        alt="{{ include.section.alt }}"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <div
    class="self-center p-5p sm:p-0 sm:pb-5p pb-15p opacity-0 translate-x-10"
    id="rainbow-content"
  >
    <h2 class="mt-[-8rem] sm:mt-0 text-3xl font-bold">
      {{ include.section.heading }}
    </h2>
    <p class="py-5">{{ include.section.description }}</p>
    <ul class="list-disc pl-5 mb-6">
      {% for feature in include.section.features %}
      <li>{{ feature }}</li>
      {% endfor %}
    </ul>
    <a
      href="{{ include.section.cta_url }}"
      class="bg-brand-orange rounded-full px-6 py-2 inline-block hover:bg-black hover:text-white transition-colors duration-300"
    >
      {{ include.section.cta_button }}
    </a>
  </div>
</section>
