<!-- _includes/dining-section.html -->
<!---------------- DINING EXPERIENCE SECTION ---------------->
<section class="md:grid md:grid-cols-2 bg-brand-orange overflow-hidden">
  <div
    class="bg-brand-yellow pt-28 px-24 hidden md:block opacity-0 -translate-x-10"
    id="door-image"
  >
    <div class="overflow-hidden rounded-t-full">
      <img
        src="{{ include.section.image }}"
        alt="{{ include.section.alt }}"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <div
    class="self-end p-10p text-center md:text-left opacity-0 translate-x-10"
    id="door-content"
  >
    <h2 class="text-white text-3xl font-bold">{{ include.section.heading }}</h2>
    <p class="py-5">{{ include.section.description }}</p>
    <div class="mb-6">
      <h3 class="text-white font-bold mb-2">Restaurant Hours:</h3>
      <p class="text-white">{{ include.section.hours.breakfast }}</p>
      <p class="text-white">{{ include.section.hours.dinner }}</p>
    </div>
    <a
      href="{{ include.section.cta_url }}"
      class="bg-brand-pink rounded-full px-6 py-2 inline-block hover:bg-black hover:text-white transition-colors duration-300"
    >
      {{ include.section.cta_button }}
    </a>
  </div>
</section>
