<!-- _includes/hero-section.html -->
<header
  class="relative flex flex-col justify-center items-center min-h-screen bg-cover bg-center bg-no-repeat text-white overflow-hidden px-4"
  style="background-image: url('{{ include.section.background_image }}');"
>
  <!-- Hero Content -->
  <div class="text-center z-20 max-w-[90%] sm:max-w-[80%]">
    <h1
      class="font-titan-one opacity-0 leading-tight text-4xl sm:text-6xl md:text-8xl lg:text-9xl"
      id="hero-heading"
    >
      {{ include.section.heading_line1 }} <br />
      <span class="opacity-0" id="hero-heading-2">
        {{ include.section.heading_line2 }}
      </span>
    </h1>

    <h2
      class="opacity-0 mt-4 text-base sm:text-xl md:text-2xl lg:text-3xl"
      id="hero-subheading"
    >
      {{ include.section.subheading }}
    </h2>
  </div>
  </div>
</header>
