<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: "MySite" }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/output-style.css" />
    <link rel="stylesheet" href="style.css" />

    <style>
      body {
        background-color: #f7f7f7;
        overflow-x: hidden;
      }
      /* Custom CSS to ensure sticky position works correctly */
      .sticky-section_panel {
        min-height: 100vh;
        position: sticky;
        top: 0; /* Ensures the element sticks to the top of the viewport */
        transform-origin: center center;
      }
    </style>

    <!-- GSAP Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
  </head>
  <body>
    {% include site-header.html %} {{ content }} {% include site-footer.html %}
  </body>
</html>
